*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
    color: #fff;
}

body{
    background-color: #1B1A1D;
}

.addBtn{
    background-color: #3F8DFD;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.footer{
    background: #2B2D2E;
    height: 40px;
    width: 100%;
}